<ion-header>
  <ion-toolbar>
    <ion-title>
      Impress - Lawy stuff
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button href="/home" fill="clear"><< back</ion-button>

  <p>Hi you! Thanks for using my app! </p>
  <p>
    This PWA (Progressive Web App) sends data you input (most of it optional) to the firebase cloud where another application creates an Apple Wallet Pass. This pass is then send back to you so you can add it to your Apple Wallet. My apps don't remember any of your data, don't give any of your data away or show any advertisements (neither to you nor your data).
    <br>
    This said, the Google Firebase Services I use to transmit your data and to create the pass night save data and / or give it to third parties. This is something I can't prevent.
  </p>
  <p>
    Also it must be mentioned that I'm not affiliated, representing or working for Urban Apes. I created this app privately for the use of me and my friends, that got tired of carrying unnecessary membership cards with us. I do not garantee that your digital card will be accepted as proof of membership when entering any climbing gym.
  </p>
</ion-content>
