<ion-header>
  <ion-toolbar>
    <ion-title>
      Create Apple Pass
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset>

    <ion-item>
      <div class="ion-padding center" [hidden]="detectedCode !== ''">
        Scan your membership card to create an <b>Apple Wallet Pass</b> (On android Pass Wallet is required to make this work)
      </div>
      <div class="ion-padding center" [hidden]="detectedCode === ''">
        Create and download an <b>Apple Wallet Pass</b> (On android the external App Pass Wallet is required to make this work)
      </div>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="cardHolder" placeholder="Card holder (optional)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="gym" placeholder="Select Gym (optional)">
        <ion-select-option value="kletterwerk">Kletterwerk (Lübeck)</ion-select-option>
        <ion-select-option value="boulderquartier">Boulderquartier (Hamburg)</ion-select-option>
        <ion-select-option value="boulderwerk">Boulderwerk (Norderstedt)</ion-select-option>
        <ion-select-option value="other">other</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="detectedCode" placeholder="Membership Number"></ion-input>
      <ion-button item-right [hidden]="scanning" (click)="restartScanner()"><ion-icon name="camera"></ion-icon>
         Scan</ion-button>
    </ion-item>
    <ion-item (click)="startedDownload()"  [hidden]="detectedCode === ''">
      <ion-button class="download" [hidden]="!isApple" [disabled]="downloading" href="https://us-central1-membershippasscard.cloudfunctions.net/generateFromStream?id={{detectedCode}}&&name={{cardHolder}}&&gym={{gym}}"><ion-spinner [hidden]="downloading === false"></ion-spinner>Download Apple Passcard</ion-button>
      <ion-button class="download" [hidden]="isApple" [disabled]="downloading" href="http://passwallet.attidomobile.com/download2.php?pass=https://us-central1-membershippasscard.cloudfunctions.net/generateFromStream?id={{detectedCode}}&&name={{cardHolder}}&&gym={{gym}}"><ion-spinner [hidden]="downloading === false"></ion-spinner>Download Pass (Android App Pass)</ion-button>
    </ion-item>
    <ion-item (click)="startedDownload()"  [hidden]="detectedCode === '' || isApple">
      <ion-button class="download" [disabled]="downloading" href="https://us-central1-membershippasscard.cloudfunctions.net/generateFromStream?id={{detectedCode}}&&name={{cardHolder}}&&gym={{gym}}"><ion-spinner [hidden]="downloading === false"></ion-spinner>Download Pass (other Pass Apps)</ion-button>
    </ion-item>
  </ion-list>
  <div [hidden]="scanning === false" id="scanner">
  </div>
  <ion-button class="impress" href="/impress" fill="clear">Impress / Legal / Author</ion-button>
</ion-content>
