#scanner {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 10000;
}

#scanner video {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.center {
  text-align: center;
}

ion-button {
  height: 35px;
}

ion-button ion-icon {
  padding-right: 8px;
}

ion-button.download {
  margin: 0 auto;
}

ion-input {
  padding-left: 17px!important;
}

ion-select {
  width: 100%;
  max-width: 100%;
}
