<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset>
    <ion-item [hidden]="!isApple">
      <div class="ion-padding center" [innerHTML]="'APPLE_INTRODUCTION' | translate"></div>
    </ion-item>
    <ion-item [hidden]="isApple">
      <div class="ion-padding center" [innerHTML]="'ANDROID_INTRODUCTION' | translate"></div>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="cardHolder" placeholder="{{ 'CARDHOLDER' | translate }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="gym" placeholder="{{ 'SELECT_GYM' | translate }}">
        <ion-select-option value="kletterwerk"> {{ 'KLETTERWERK' | translate }} </ion-select-option>
        <ion-select-option value="boulderquartier">{{ 'BOULDERQUARTIER' | translate }}</ion-select-option>
        <ion-select-option value="boulderwerk">{{ 'BOULDERWERK' | translate }}</ion-select-option>
        <ion-select-option value="other">{{ 'OTHER' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="detectedCode" placeholder="{{ 'MEMBERSHIP_NUMBER' | translate }}"></ion-input>
      <ion-button class="scan" item-right [hidden]="scanning" (click)="restartScanner()"><ion-icon name="camera"></ion-icon>
         Scan</ion-button>
    </ion-item>
  </ion-list>
  <div class="downloadWrapper" [hidden]="detectedCode === ''">
    <div class="ion-padding center" [hidden]="!isApple" [innerHTML]="'APPLE_DOWNLOAD' | translate">
    </div>
    <div class="ion-padding center" [hidden]="isApple" [innerHTML]="'ANDROID_DOWNLOAD' | translate">
    </div>
    <ion-button class="download" (click)="startedDownload()" [hidden]="!isApple" [disabled]="downloading" href="https://us-central1-membershippasscard.cloudfunctions.net/generateFromStream?id={{detectedCode}}&&name={{cardHolder}}&&gym={{gym}}"><ion-spinner [hidden]="downloading === false"></ion-spinner>Download Apple Passcard</ion-button>
    <ion-button class="download" (click)="startedDownload()" [hidden]="isApple" [disabled]="downloading" href="http://passwallet.attidomobile.com/download2.php?pass=https://us-central1-membershippasscard.cloudfunctions.net/generateFromStream?id={{detectedCode}}&&name={{cardHolder}}&&gym={{gym}}"><ion-spinner [hidden]="downloading === false"></ion-spinner>Download Pass (Android App Pass)</ion-button>
    <ion-button class="download" (click)="startedDownload()" [hidden]="isApple"  [disabled]="downloading" href="https://us-central1-membershippasscard.cloudfunctions.net/generateFromStream?id={{detectedCode}}&&name={{cardHolder}}&&gym={{gym}}"><ion-spinner [hidden]="downloading === false"></ion-spinner>Download Pass (other Pass Apps)</ion-button>
  </div>
    <div [hidden]="scanning === false" id="scanner">
  </div>
  <ion-button class="impress" href="/impress" fill="clear">Impress / Legal / Author</ion-button>
  <ion-button class="share" href="/share" fill="clear">Share</ion-button>
</ion-content>
