#scanner {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 10000;
}

#scanner video {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.center {
  text-align: center;
}

ion-list {
  z-index: 10;
  position: absolute;
}

ion-button {
  height: 40px;
}

ion-button ion-icon {
  padding-right: 8px;
}

ion-button.scan {
  margin: 0;
}

ion-button.download {
  margin: 20px auto;
}

ion-input {
  padding-left: 17px!important;
}

div.downloadWrapper {
  text-align: center;
  position: absolute;
  background-color: white;
  bottom: 40px;
  z-index: 100;
}

ion-select {
  width: 100%;
  max-width: 100%;
}

ion-button.impress {
  position: absolute;
  bottom: 0;
  left: 0;
}

ion-button.share {
  position: absolute;
  bottom: 0;
  right: 0;
}
